{% extends '@layouts/base.twig' %}

{% set scope = {
    breadcrumbs: [
        {
            label: 'Главная',
            link: route('home'),
        },
        {
            label: 'Контакты',
            link: '',
        },
    ],
} %}

{% block main %}
    <div class="Container Page ContactsPage">
        <div class="Page__breadcrumbs">
            {% include '@components/breadcrumbs/breadcrumbs.twig' with {
                items: scope.breadcrumbs,
            } %}
        </div>
        <div class="ContactsPage__layout">
            <h1 class="ContactsPage__title">
                Контакты
            </h1>
            <div class="ContactsPage__contacts">
                {% include '@components/contacts/contacts.twig' with {
                    alternativeIcon: true,
                } %}
            </div>
            <div id="map" class="ContactsPage__map"></div>
        </div>
    </div>
{% endblock %}

{% block headScripts %}
    {{ parent() }}

    <script type="text/javascript" src="https://api-maps.yandex.ru/2.1/?apikey=ede6d66b-df0e-4b88-804d-721f2e8169e2&lang=ru_RU"></script>
{% endblock %}

{% block bodyScripts %}
    {{ parent() }}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.dispatchEvent(new Event('MapLoaded'));
        });
    </script>
{% endblock %}
