{% extends '@layouts/base.twig' %}

{% set scope = {
    breadcrumbs: [
        {
            label: 'Главная',
            link: route('home'),
        },
        {
            label: 'Контакты',
            link: '',
        },
    ],
} %}

{% block main %}
    <div class="Container Page ContactsPage">
        {{ dump(scope) }}
    </div>
{% endblock %}
