{% extends '@layouts/base.twig' %}

{% set scope = {
    breadcrumbs: [
        {
            label: 'Главная',
            link: route('home'),
        },
        {
            label: 'Контакты',
            link: '',
        },
    ],
} %}

{% block main %}
    <div class="Container Page ContactsPage">
        <div class="Page__breadcrumbs">
            {% include '@components/breadcrumbs/breadcrumbs.twig' with {
                items: scope.breadcrumbs,
            } %}
        </div>
        <div class="ContactsPage__layout">
            <h1 class="ContactsPage__title">
                Контакты
            </h1>
            <div class="ContactsPage__contacts">
                {% include '@components/contacts/contacts.twig' with {
                    alternativeIcon: true,
                } %}
            </div>
            <div class="ContactsPage__map">
                Тут будет карта
            </div>
        </div>
    </div>
{% endblock %}
