{% extends '@layouts/base.twig' %}

{% set scope = {
    slides: [
        {
            desktopImage: 'images/mockup/slides/slide-desktop.png'|asset,
            mobileImage: 'images/mockup/slides/slide-mobile.png'|asset,
            title: 'Проектируем<br>и строим загородные дома',
            text: 'Строим дома «под ключ»: от этапа проектирования и до финишной отделки помещений',
        },
        {
            desktopImage: 'images/mockup/slides/slide-desktop.png'|asset,
            mobileImage: 'images/mockup/slides/slide-mobile.png'|asset,
            title: 'Lorem ipsum dolor sit amet',
            text: 'Vivamus eu velit at ante pellentesque laoreet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec id iaculis diam.',
        },
        {
            desktopImage: 'images/mockup/slides/slide-desktop.png'|asset,
            mobileImage: 'images/mockup/slides/slide-mobile.png'|asset,
            title: 'Curabitur tincidunt ut arcu eu auctor',
            text: 'Duis vel magna varius, egestas dolor et, pulvinar nibh.',
        },
    ],
    featuredSection: {
        title: 'Каждый проект<br>для нас — важный',
        text: 'Мы строительная компания полного цикла.<br><br>Вникаем во все детали, разрабатываем планировку будущего дома, продумываем конструктивные решения и общую архитектурную концепцию',
        items: [
            {
                icon: 'icons/house-green.svg'|asset,
                title: '57 домов',
                text: 'спроектировали и построили “под ключ”',
            },
            {
                icon: 'icons/calendar-green.svg'|asset,
                title: '14 лет',
                text: 'мы на рынке загородного строительства',
            },
        ],
    },
    projects: [
        {
            image: 'images/mockup/projects/project-1.png'|asset,
            title: 'Дом в скандинавском стиле',
            text: 'Одноэтажный дом из газобетона габаритными размерами 10.73 х 10.73 м. и жилой площадью 101 кв. м. с вальмовой кровлей\n\nПостроен по индивидуальному проекту.',
        },
        {
            image: 'images/mockup/projects/project-2.png'|asset,
            title: 'Дом из газобетона',
            text: 'Одноэтажный дом габаритными размерами 15.2 х 9.7м. Приведенная площадь – 127.7 м.кв.\n\nТри спальные комнаты, два сан.узла, большая кухня-гостиная с выходом на террасу.',
        },
    ],
    news: [
        {
            image: 'images/mockup/news/news-1.png'|asset,
            date: '20 авг 2021',
            title: 'Как сделать строительство дешевле?',
            text: 'Строительство дома можно сделать <b>дешевле — выбрав</b> проект...',
        },
        {
            image: 'images/mockup/news/news-2.png'|asset,
            date: '19 авг 2021',
            title: 'Почему Гуд Вилл строит лучшие дома?',
            text: 'Хотим обрадовать тех, кто планирует переезд из квартиры в дом...',
        },
        {
            image: 'images/mockup/news/news-3.png'|asset,
            date: '18 авг 2021',
            title: 'Преимущества и недостатки частного дома',
            text: 'Первое и главное: строим дом индивидуально для вас, по вашим...',
        },
        {
            image: 'images/mockup/news/news-4.png'|asset,
            date: '17 авг 2021',
            title: 'Из чего мы строим дома в ипотеку?',
            text: 'Самый популярный вопрос наших клиентов касается материалов, которы...',
        },
    ],
} %}

{% block main %}
    <div class="Container">
        <div class="Layout__section Layout__section--slider">
            {% include '@components/slider/slider.twig' with {
                items: scope.slides,
            } %}
        </div>

        <div class="Layout__section Layout__section--featured">
            {% include '@components/featured-section/featured-section.twig' with {
                title: scope.featuredSection.title,
                text: scope.featuredSection.text,
                items: scope.featuredSection.items,
            } %}
        </div>
    </div>

    <div class="Layout__section Layout__section--projects">
        <div class="Container">
            {% include '@components/projects-section/projects-section.twig' with {
                items: scope.projects,
            } %}
        </div>
    </div>

    <div class="Container">
        <div class="Layout__section">
            {% include '@components/news-list/news-list.twig' with {
                items: scope.news,
            } %}
        </div>
    </div>
{% endblock %}

{# {% block modals %}
    {{ parent() }}

    Lorem ipsum
{% endblock %} #}
