{% extends '@layouts/base.twig' %}

{% set scope = {
    slides: [
        {
            desktopImage: 'images/mockup/slides/slide-desktop.png'|asset,
            mobileImage: 'images/mockup/slides/slide-mobile.png'|asset,
            title: 'Проектируем<br>и строим загородные дома',
            text: 'Строим дома «под ключ»: от этапа проектирования и до финишной отделки помещений',
        },
        {
            desktopImage: 'images/mockup/slides/slide-desktop.png'|asset,
            mobileImage: 'images/mockup/slides/slide-mobile.png'|asset,
            title: 'Lorem ipsum dolor sit amet',
            text: 'Vivamus eu velit at ante pellentesque laoreet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec id iaculis diam.',
        },
        {
            desktopImage: 'images/mockup/slides/slide-desktop.png'|asset,
            mobileImage: 'images/mockup/slides/slide-mobile.png'|asset,
            title: 'Curabitur tincidunt ut arcu eu auctor',
            text: 'Duis vel magna varius, egestas dolor et, pulvinar nibh.',
        },
    ],
    featuredSection: {
        title: 'Каждый проект<br>для нас — важный',
        text: 'Мы строительная компания полного цикла.<br><br>Вникаем во все детали, разрабатываем планировку будущего дома, продумываем конструктивные решения и общую архитектурную концепцию',
        items: [
            {
                icon: 'icons/house-green.svg'|asset,
                title: '57 домов',
                text: 'спроектировали и построили “под ключ”',
            },
            {
                icon: 'icons/calendar-green.svg'|asset,
                title: '14 лет',
                text: 'мы на рынке загородного строительства',
            },
        ],
    },
} %}

{% block main %}
    <div class="Container">
        <div class="Layout__section Layout__section--slider">
            {% include '@components/slider/slider.twig' with {
                items: scope.slides,
            } %}
        </div>

        <div class="Layout__section Layout__section--featured">
            {% include '@components/featured-section/featured-section.twig' with {
                title: scope.featuredSection.title,
                text: scope.featuredSection.text,
                items: scope.featuredSection.items,
            } %}
        </div>
    </div>
{% endblock %}
