{% extends '@layouts/base.twig' %}

{% set scope = {
    slides: [
        {
            desktopImage: 'images/mockup/slides/slide-desktop.png'|asset,
            mobileImage: 'images/mockup/slides/slide-mobile.png'|asset,
            title: 'Проектируем<br>и строим загородные дома',
            text: 'Строим дома «под ключ»: от этапа проектирования и до финишной отделки помещений',
        },
        {
            desktopImage: 'images/mockup/slides/slide-desktop.png'|asset,
            mobileImage: 'images/mockup/slides/slide-mobile.png'|asset,
            title: 'Lorem ipsum dolor sit amet',
            text: 'Vivamus eu velit at ante pellentesque laoreet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec id iaculis diam.',
        },
        {
            desktopImage: 'images/mockup/slides/slide-desktop.png'|asset,
            mobileImage: 'images/mockup/slides/slide-mobile.png'|asset,
            title: 'Curabitur tincidunt ut arcu eu auctor',
            text: 'Duis vel magna varius, egestas dolor et, pulvinar nibh.',
        },
    ],
} %}

{% block main %}
    <div class="Container">
        <div class="Layout__section Layout__section--slider">
            {% include '@components/slider/slider.twig' with {
                items: scope.slides,
            } %}
        </div>
    </div>
{% endblock %}
