{% extends '@layouts/base.twig' %}

{% set scope = {
    breadcrumbs: [
        {
            label: 'Главная',
            link: route('home'),
        },
        {
            label: 'Новости',
            link: '',
        },
    ],
    news: {
        items: news.items ?? [],
        currentPage: news.currentPage ?? 1,
        lastPage: news.lastPage ?? 0,
    },
} %}

{% block main %}
    <div class="Container Page NewsPage">
        <div class="Page__breadcrumbs">
            {% include '@components/breadcrumbs/breadcrumbs.twig' with {
                items: scope.breadcrumbs,
            } %}
        </div>
        <h1 class="Page__title">
            Новости
        </h1>
        <ul class="NewsPage__list">
            {% for item in scope.news.items %}
                <li>
                    {% include '@components/news-card/news-card.twig' with {
                        image: item.image ?? '',
                        date: item.created_at ?? '',
                        title: item.title ?? '',
                        text: item.description ?? '',
                    } %}
                </li>
            {% endfor %}
        </ul>
        {% if scope.news.lastPage > 1 %}
            <div class="NewsPage__pagination">
                {% include '@components/pagination/pagination.twig' with {
                    currentPage: scope.news.currentPage,
                    lastPage: scope.news.lastPage,
                } %}
            </div>
        {% endif %}
    </div>
{% endblock %}
