{% extends '@layouts/base.twig' %}

{% set scope = {
    news: [
        {
            image: 'images/mockup/news/news-1.png'|asset,
            date: '20 авг 2021',
            title: 'Как сделать строительство дешевле?',
            text: 'Строительство дома можно сделать <b>дешевле — выбрав</b> проект...',
        },
        {
            image: 'images/mockup/news/news-2.png'|asset,
            date: '19 авг 2021',
            title: 'Почему Гуд Вилл строит лучшие дома?',
            text: 'Хотим обрадовать тех, кто планирует переезд из квартиры в дом...',
        },
        {
            image: 'images/mockup/news/news-3.png'|asset,
            date: '18 авг 2021',
            title: 'Преимущества и недостатки частного дома',
            text: 'Первое и главное: строим дом индивидуально для вас, по вашим...',
        },
        {
            image: 'images/mockup/news/news-4.png'|asset,
            date: '17 авг 2021',
            title: 'Из чего мы строим дома в ипотеку?',
            text: 'Самый популярный вопрос наших клиентов касается материалов, которы...',
        },
        {
            image: 'images/mockup/news/news-1.png'|asset,
            date: '20 авг 2021',
            title: 'Как сделать строительство дешевле?',
            text: 'Строительство дома можно сделать <b>дешевле — выбрав</b> проект...',
        },
        {
            image: 'images/mockup/news/news-2.png'|asset,
            date: '19 авг 2021',
            title: 'Почему Гуд Вилл строит лучшие дома?',
            text: 'Хотим обрадовать тех, кто планирует переезд из квартиры в дом...',
        },
        {
            image: 'images/mockup/news/news-3.png'|asset,
            date: '18 авг 2021',
            title: 'Преимущества и недостатки частного дома',
            text: 'Первое и главное: строим дом индивидуально для вас, по вашим...',
        },
        {
            image: 'images/mockup/news/news-4.png'|asset,
            date: '17 авг 2021',
            title: 'Из чего мы строим дома в ипотеку?',
            text: 'Самый популярный вопрос наших клиентов касается материалов, которы...',
        },
    ],
} %}

{% block main %}
    <div class="Container">
        {{ dump(scope) }}
    </div>
{% endblock %}
