{% extends '@layouts/base.twig' %}

{% set scope = {
    breadcrumbs: [
        {
            label: 'Главная',
            link: route('home'),
        },
        {
            label: 'Новости',
            link: '',
        },
    ],
    news: {
        items: [
            {
                image: 'images/mockup/news/news-1.png'|asset,
                date: '20 авг 2021',
                title: 'Как сделать строительство дешевле?',
                text: 'Строительство дома можно сделать <b>дешевле — выбрав</b> проект...',
            },
            {
                image: 'images/mockup/news/news-2.png'|asset,
                date: '19 авг 2021',
                title: 'Почему Гуд Вилл строит лучшие дома?',
                text: 'Хотим обрадовать тех, кто планирует переезд из квартиры в дом...',
            },
            {
                image: 'images/mockup/news/news-3.png'|asset,
                date: '18 авг 2021',
                title: 'Преимущества и недостатки частного дома',
                text: 'Первое и главное: строим дом индивидуально для вас, по вашим...',
            },
            {
                image: 'images/mockup/news/news-4.png'|asset,
                date: '17 авг 2021',
                title: 'Из чего мы строим дома в ипотеку?',
                text: 'Самый популярный вопрос наших клиентов касается материалов, которы...',
            },
            {
                image: 'images/mockup/news/news-1.png'|asset,
                date: '20 авг 2021',
                title: 'Как сделать строительство дешевле?',
                text: 'Строительство дома можно сделать <b>дешевле — выбрав</b> проект...',
            },
            {
                image: 'images/mockup/news/news-2.png'|asset,
                date: '19 авг 2021',
                title: 'Почему Гуд Вилл строит лучшие дома?',
                text: 'Хотим обрадовать тех, кто планирует переезд из квартиры в дом...',
            },
            {
                image: 'images/mockup/news/news-3.png'|asset,
                date: '18 авг 2021',
                title: 'Преимущества и недостатки частного дома',
                text: 'Первое и главное: строим дом индивидуально для вас, по вашим...',
            },
            {
                image: 'images/mockup/news/news-4.png'|asset,
                date: '17 авг 2021',
                title: 'Из чего мы строим дома в ипотеку?',
                text: 'Самый популярный вопрос наших клиентов касается материалов, которы...',
            },
        ],
        currentPage: 1,
        lastPage: 10,
    },
} %}

{% block main %}
    <div class="Container Page NewsPage">
        <div class="Page__breadcrumbs">
            {% include '@components/breadcrumbs/breadcrumbs.twig' with {
                items: scope.breadcrumbs,
            } %}
        </div>
        <h1 class="Page__title">
            Новости
        </h1>
        <ul class="NewsPage__list">
            {% for item in scope.news.items %}
                <li>
                    {% include '@components/news-card/news-card.twig' with {
                        image: item.image ?? '',
                        date: item.date ?? '',
                        title: item.title ?? '',
                        text: item.text ?? '',
                    } %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
