{% import _self as macros %}


{% macro content() %}
    <div class="header_container">
        <div class="header_content">
            <div class="header_logo"><img src="{{ asset('images/logo.png') }}" alt=""></div>
            <nav class="header_navigation nav">
                <ul class="nav_container">
                    <li class="nav_item">Реализованные проекты</li>
                    <li class="nav_item">Новости</li>
                    <li class="nav_item">Контакты</li>
            </ul>
            </nav>
            <nav class="contacts">
                <div class="contacts_container">
                    <div class="contacts_item contacts_item-telephone">
                        <div class="contacts_telephone-ing"><img src="{{ asset('images/telephone.png') }}" alt=""></div>
                        <div class="contacts_telephone-text">+7 (900) 900 90 90</div>
                    </div>
                    <div class="contacts_item contacts_item-submit">Оставить завку</div>
                </div>
            </nav>
        </div>
    </div>
{% endmacro %}

{{ macros.content }}