.Header {
    display: flex;
    align-items: center;
    padding-y: 24px;

    &__logo {
        width: 160px;
        margin-right: 6.4%;

        @include vw-xl-down {
            margin-right: 3.5%;
        }
    }

    &__nav {
        @include vw-lg-down {
            display: none;
        }
    }

    &__phone {
        margin-x: auto 24px;

        @include vw-md-down {
            display: none;
        }
    }

    &__feedbackButton {
        @include vw-md-down {
            display: none;
        }
    }

    &__offCanvasButton {
        margin-left: 16px;

        @include vw-lg-up {
            display: none;
        }

        @include vw-md-down {
            margin-left: auto;
        }
    }
}

.OffCanvas {
    &__layout {
        display: flex;
        flex-flow: column;
        padding-y: 6.5em 3em;
    }

    &__close {
        top: 31px;
        right: 39px;
        padding: 10px;
        border-radius: 6px;
        background-color: rgba(white, 0.2);
        cursor: pointer;

        img {
            display: block;
        }
    }

    &__nav {
        flex-grow: 1;
        margin-bottom: 1.5em;
        font-size: 1.125em;
    }

    &__contacts {
        font-size: 0.875em;
    }
}
