.NewsPage {
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 32px 16px;
        list-style: none;

        @include vw-lg-down {
            grid-template-columns: repeat(3, 1fr);
        }

        @include vw-md-down {
            grid-template-columns: repeat(2, 1fr);
        }

        @include vw-sm-down {
            grid-template-columns: 1fr;
        }
    }

    &__pagination {
        padding-top: 40px;

        @include vw-sm-down {
            padding-top: 32px;
        }
    }
}
