{% import _self as macros %}

{% macro content() %}
    <form class="Form" @submit.prevent="submit" data-vue-request-form>
        <fieldset class="Form__fieldset">
            <div class="Form__field">
                <input
                    type="text"
                    name="name"
                    aria-label="Имя"
                    placeholder="Имя"
                    class="Form__input"
                    :class="{ 'Form__input--invalid': isInvalidField('name') }"
                    v-model="data.name"
                >
                <span
                    v-if="isInvalidField('name')"
                    class="Form__hint"
                    v-text="getErrorMessage('name')"
                ></span>
            </div>

            <div class="Form__field">
                <input
                    type="tel"
                    name="phone"
                    aria-label="Телефон"
                    placeholder="Телефон"
                    class="Form__input"
                    :class="{ 'Form__input--invalid': isInvalidField('phone') }"
                    v-mask="'+7 ### ###-##-##'"
                    :value="data.phone"
                    @input="onInputPhone"
                >
                <span
                    v-if="isInvalidField('phone')"
                    class="Form__hint"
                    v-text="getErrorMessage('phone')"
                ></span>
            </div>

            <div class="Form__field">
                <textarea
                    name="message"
                    aria-label="Сообщение"
                    placeholder="Сообщение"
                    class="Form__textarea"
                    :class="{ 'Form__textarea--invalid': isInvalidField('message') }"
                    v-model="data.message"
                ></textarea>
                <span
                    v-if="isInvalidField('message')"
                    class="Form__hint"
                    v-text="getErrorMessage('message')"
                ></span>
            </div>
        </fieldset>

        <div class="Form__footer">
            <button type="submit" class="Button Button--primary">
                Оставить заявку
            </button>

            <p class="Form__agreement">
                Нажимая на кнопку «Отправить», вы принимаете <a href="/">пользовательское соглашение</a> и <a href="/">политику конфиденциальности</a>
            </p>
        </div>
    </form>
{% endmacro %}

{{ macros.content }}
