.NewsList {
    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 32px;
    }

    &__title {
        @include section-title-mix;
    }

    &__container {
        display: grid;
        grid-gap: 16px;
        grid-template-columns: repeat(4, 1fr);
    }

    &__item {
        display: grid;
        grid-gap: 8px;
    }

    &__itemPicture {
        height: 200px;
        border-radius: 20px 20px 0 0;
        object-position: center;
        object-fit: cover;
    }

    &__itemDate {
        font-size: toRem(14px);
        line-height: 120%;
    }

    &__itemTitle {
        font-size: toRem(20px);
        font-weight: 500;
        line-height: 120%;
    }

    &__itemDescription {
        font-size: toRem(16px);
        line-height: 120%;
        font-family: 'Open Sans', sans-serif;
    }
}
