{% import _self as macros %}

{% set scope = {
    items: items ?? [],
} %}

{% macro content(scope) %}
    <section class="NewsList">
        <header class="NewsList__header">
            <h2 class="NewsList__title">
                Новости
            </h2>
            <a href="{{ route('news') }}" class="Button Button--secondary">
                Все новости
            </a>
        </header>
        <ul class="NewsList__list">
            {% for item in scope.items %}
                <li class="NewsList__item">
                    {% include '@components/news-card/news-card.twig' with {
                        image: item.image ?? '',
                        date: item.created_at ?? '',
                        title: item.title ?? '',
                        text: item.description ?? '',
                    } %}
                </li>
            {% endfor %}
        </ul>
    </section>
{% endmacro %}

{{ macros.content(scope) }}
