body {
    font-family: 'Nunito', sans-serif;
}

.hello-world {
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    padding: 15px;
    text-transform: uppercase;
    background: linear-gradient(45deg, #0B2349 33%, #0D61BC 66%, #8AA9D6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
    margin: 12% auto;
}
