.Footer {
    padding-y: 32px;
    background-color: $color-green--dark;

    @include vw-sm-down {
        padding-y: 40px;
    }

    &__logo {
    }

    &__nav {
    }

    &__contacts {
    }

    &__feedbackButton {
    }

    &__copyright {
    }

    &__links {
    }

    &__link {
    }
}

.FooterLinks {
    list-style: none;

    &__item {
    }
}
