{% import _self as macros %}

{% macro content() %}
    <footer class="footer">
        <div class="logo footer_block">
            <img src="{{ asset('images/whiteLogo.png') }}" alt="">
        </div>
        <div class="sections">
            <p>Реализованные проекты</p>
            <p>Новости</p>
            <p>Контакты</p>
            
        </div>
        <div class="contacts footer_block">
            <p>+7(900)900-90-90</p>
            <p>info@gmail.com</p>
            <p>г. Владивосток<br>
            ул. Выселковская 49, стр.3</p>
            
        </div>
        <button class="submit footer_block">Оставить заявку</button>
        <div class="rights">
            <div class="copyright">&#169;Загдом, 2021</div> 
            <div><p>Политика конфиденциальности</p></div>
            <div><p>Пользовательское соглашение</p></div>
            <div></div>
        </div>
    </footer>
{% endmacro %}

{{ macros.content }}