$color-black: black;
$color-gray: #666666;
$color-green: #029F59;
$color-green--dark: #254741;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

@function toRem($size) {
    @return $size / 16px * 1em;
}

/* import section */

@import "./media.scss";
@import "./uikit.scss";
@import "../layouts/base.scss";
@import "../components/header/header.scss";
@import "../components/site-nav/site-nav.scss";
@import "./elements.scss";
@import "../components/contacts/contacts.scss";