@import "base.scss";

$primary: red;
$secondary: blue;

body {
    font-family: 'Open Sans', sans-serif;
}

.hello {
    color: $primary;
    font-family: 'Monserrat', sans-serif;
}

.lorem {
    color: $secondary;
}