@import "null.scss";
@import "../layouts/base.scss";
@import "../components/header/header.scss";
@import "../components/footer/footer.scss";


$primary: red;
$secondary: blue;

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.aboutUs {
    padding: 120px 88px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    // grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 0 16px;

    @media screen and (max-width: 687px) {
        padding: 80px 16px;

        &_text {
            font-size: 20px;
        }

        &_house, &_years {
            width: 100%;
            margin-top: 30px ;
        }
    }

    &_title{
        width: 100%;
        line-height: 1.5;
    }

    &_text {
        flex: 1 1 auto;

        p {
            margin-top: 32px;
            line-height: 1.5;
        }
    }

    &_house, &_years{
        height: 190px;
        width: 300px;
        background-color: rgba(245, 247, 243, 1);
        border-radius: 20px;
        padding: 24px;
        line-height: 1.5
    }
    
    &_icon{
        width: 20px;
        height: 20px;
        margin-bottom: 24px;
    }
    
}

.completedProjects {
    padding: 80px 88px;
    background-color: #f5f7f3;

    @media screen and (max-width: 687px) {
        padding: 80px 16px;
        overflow-x: scroll;
    }
    
    &_title {
        margin-bottom: 32px;
    }
}

.houses {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 687px) {
        gap: 30px;

        &_scandinaviaCard, &_gazobetonCard {
            display: flex;
            flex-direction: column-reverse;
            padding-top: 0;
        }

        &_img {
            border-radius: 20px;
        }
    }

    &_text {
        line-height: 1.5;
        display: flex;
        flex-direction: column-reverse;
        grid-gap: 12px;
        padding: 32px;
    }

    &_img {
        width: 300px;
        height: 300px;
    }

    &_scandinaviaCard, &_gazobetonCard {
        background-color: white;
        border-radius: 20px;
        display: flex;
    }
}

.news {
    padding: 0 88px;

    @media screen and (max-width: 687px) {
        padding: 0 16px;
    }

    &_titleAndButton {
        margin: 80px 0 32px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_newsBtn {
        color: #029f59;
        width: 150px;
        height: 50px;
        border: 1px solid;
        border-radius: 10px;
        border-color: #029f59;
        background-color: white;
    }
}

.newsCards {
    display: flex;
    justify-content: space-between;
    grid-gap: 16px;
    margin-bottom: 80px;

    @media screen and (max-width: 687px) {
        overflow-x: scroll;
    }

    &_card {
        width: 300px;
        line-height: 1.5;

        p{
            margin: 10px 0;
        }
    }

    &_image {
        width: 300px;
    }
}