// Variables
$color-black: black;
$color-gray: #666666;
$color-gray--light: #C6C6C6;
$color-green: #029F59;
$color-green--dark: #254741;
$color-snow-drift: #F5F7F3;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Functions
@function toRem($size) {
    @return $size / 16px * 1rem;
}

@import "./media.scss";
@import "./uikit.scss";
@import "./swiper.scss";
@import "./mixins.scss";
@import "../layouts/base.scss";

// Elements
@import "./elements.scss";

// Components
@import "../components/header/header.scss";
@import "../components/site-nav/site-nav.scss";
@import "../components/contacts/contacts.scss";
@import "../components/slider/slider.scss";
@import "../components/featured-section/featured-section.scss";
@import "../components/projects-section/projects-section.scss";
@import "../components/news-list/news-list.scss";
