@mixin section-title-mixin {
    margin-bottom: 32px;
    font-weight: $font-weight-bold;
    font-size: toRem(38px);
    line-height: 1.2;
    color: $color-black;

    @include vw-sm-down {
        margin-bottom: 24px;
        font-size: toRem(28px);
    }
}
