@mixin section-title-mixin {
    font-weight: $font-weight-bold;
    font-size: toRem(38px);
    line-height: 1.2;
    color: $color-black;

    @include vw-sm-down {
        font-size: toRem(28px);
    }
}

@mixin overflow-slider-mixin {
    display: flex;
    grid-gap: 0;
    margin: 0 #{-$container-padding-horizontal};
    padding-left: $container-padding-horizontal;
    overflow-x: auto;

    &::after {
        content: "";
        flex-shrink: 0;
        flex-grow: 0;
        width: $container-padding-horizontal;
    }
}
