@import "settings";

// Your custom variables and variable overwrites
$base-margin-vertical: 0;
$base-heading-margin-top: 0;
$base-list-padding-left: 0;
$base-body-font-size: 100%;
$base-em-color: inherit;

$base-body-line-height: 1.35;
$base-h1-line-height: $base-body-line-height;
$base-h2-line-height: $base-body-line-height;
$base-h3-line-height: $base-body-line-height;
$base-h4-line-height: $base-body-line-height;
$base-h5-line-height: $base-body-line-height;
$base-h6-line-height: $base-body-line-height;

$container-max-width: 1264px;
$container-small-max-width: 780px;
$container-xsmall-max-width: 720px;

$container-padding-horizontal-m: 22px;
$container-padding-horizontal-s: 16px;
$container-padding-horizontal: $container-padding-horizontal-s;

$button-primary-background: $color-green;
$button-primary-color: white;
$button-primary-hover-background: darken($button-primary-background, 5%);
$button-primary-hover-color: white;
$button-primary-active-background: darken($button-primary-background, 10%);
$button-primary-active-color: white;

$button-secondary-background: white;
$button-secondary-color: $color-green;
$button-secondary-hover-background: white;
$button-secondary-hover-color: darken($button-secondary-color, 5%);
$button-secondary-active-background: white;
$button-secondary-active-color: darken($button-secondary-color, 10%);

$offcanvas-bar-background: hsl(153, 98%, 32%);

$global-inverse-color: white;

$inverse-global-color: $global-inverse-color;

$form-height: 58px;
$form-background: white;
$form-focus-background: white;

$global-font-family: 'Open Sans', sans-serif;
$base-heading-font-family: 'Montserrat', sans-serif;

// Import default variables and available mixins
@import "~uikit/src/scss/variables.scss";
@import "~uikit/src/scss/mixins.scss";

// Your custom mixin overwrites
@mixin hook-base-link {
    transition: color 0.25s ease-in-out;
}

@mixin hook-button {
    padding-x: 40px;
    border-radius: 10px;
    font-family: $base-heading-font-family;
    font-weight: $font-weight-medium;
    font-size: toRem(14px);
    line-height: 49px;
    transition-property: background-color, color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}

@mixin hook-button-secondary {
    border: 1px solid;
}

@mixin hook-modal-dialog {
    width: 448px;
    border-radius: 10px;
    background-color: $color-snow-drift;
}

@mixin hook-modal-body {
    padding: 48px 48px 56px;

    @include vw-sm-down {
        padding: 64px 24px 32px;
    }
}

@mixin hook-modal-close-default {
    top: 24px;
    right: 24px;
    padding: 9px;
    border-radius: 6px;
    background-color: rgba($color-green, 0.2);

    svg {
        color: $color-green;

        line {
            stroke-width: 2px;
        }
    }
}

@mixin hook-modal-title {
    @include modal-title-mixin;

    margin-bottom: 24px;
}

@mixin hook-form {
    padding: 16px;
    border-radius: 5px;
}

@mixin hook-form-multi-line {
    resize: none;
    height: 100px;
    padding-y: 16px;
}

// Import UIkit
@import "~uikit/src/scss/uikit.scss";
