body {
    margin: 0;
    padding: 0;
}

.Layout {
    display: flex;
    flex-direction: column;
    max-height: 100vh;

    &__main {
        flex: 1;
    }
}

.Container {
    @extend .uk-container;
}