.ProjectsSection {
    &__title {
        @include section-title-mixin;

        margin-bottom: 32px;

        @include vw-sm-down {
            margin-bottom: 24px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
        list-style: none;

        @include vw-md-down {
            grid-template-columns: 1fr;
        }

        @include vw-sm-down {
            @include overflow-slider-mixin;
        }
    }

    &__item {
        @include vw-sm-down {
            &:not(:last-child) {
                margin-right: 16px;
            }
        }
    }
}

.ProjectCard {
    display: flex;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;

    @include vw-sm-down {
        flex-direction: column;
        max-width: 304px;
        min-width: 260px;
    }

    @include vw-xs-down {
        min-width: 304px;
    }

    @include vw-xxs-down {
        min-width: 260px;
    }

    &__description {
        min-width: 280px;
        padding: 32px 16px 32px 32px;

        @include vw-lg-down {
            min-width: 230px;
        }

        @include vw-md-down {
            min-width: unset;
        }

        @include vw-sm-down {
            padding: 20px 24px;
        }
    }

    &__title {
        margin-bottom: 12px;
        font-weight: $font-weight-medium;
        font-size: toRem(20px);
        line-height: 1.2;
        color: $color-black;
    }

    &__image {
        object-position: center;
        object-fit: cover;

        @include vw-sm-down {
            order: -1;
            height: 150px;
        }
    }
}
